#body{
    background-color: rgb(2, 53, 87);
}

form{
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.836);
}

/* 
#preloader{
    background: rgb(0, 0, 0) url("loader.gif") no-repeat center;
    background-size: 15%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}
*/
